@font-face {
    font-family: font1;
    src: url(../fonts/JustOldFashion.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/SCRIPTIN.ttf);
}

p{
    font-family:'Nerko One', cursive;
    font-size:30px;
}

h1{
    font-family: 'Pacifico', cursive;
}

h2{
    font-family: font2;
}

h3{
    font-family: font1;
}
