@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
body {
    background-color:	#6FB7B7;
    /* background-color:	#ECF5FF; */
    
}
* {
    margin:0;
    padding:0;
}
#allpage {
    width:70%;
    margin:0 auto;
}
header {
    width:100%;
}
header h1{
    width:100%;
    font-size: 300%;
    color:#ECF5FF;
    /* font-family: 'cwTeXYen', sans-serif; */
    /* text-align: center; */
    padding:2%;
    /* background-color: teal; */
    
}
.menu {
    width:100%;
    overflow:auto;            
/*     background-color:#ACD6FF;
    border-radius:5px; */
    border-bottom: solid #750000 3px;
    list-style-type:none;
   
} 
.menu li {
    width:10em;
    line-height:2.5em;
    float:left;
    list-style-type:none;
    text-align:center;
    /* background-color:#ACD6FF; */
    
} 
.menu li button {
    /* display:block; */
    text-align:center;
    font-size: 150%;
	color:	#005AB5;
	/* background-color:#ACD6FF; */
	border-radius:5px;
    border-style:none;
    background-color: transparent; 
}
.menu li button:link {
    text-decoration:none;
}  
.menu li button:hover {
    /* background-color: #6FB7B7; */
    color:	#ACD6FF;
    border-radius:5px;
    border-style:none;
    font-size: 150%;
}
.menu li a:link {
    text-decoration:none;
}  
.menu li a:hover {
    /* background-color: #6FB7B7; */
    color:	#ACD6FF;
    border-radius:5px;
    border-style:none;
    font-size: 150%;
}
.menu li a {
    /* display:block; */
    text-align:center;
    font-size: 150%;
	color:	#005AB5;
	/* background-color:#ACD6FF; */
	border-radius:5px;
    border-style:none;
    background-color: transparent; 
    text-decoration:none;
}

#content {
    width:100%;
    overflow:auto;
}
.article {
    width:40%;
    float:left;
}


.article .section {
    background-color: #FFF0AC;
    border-radius:5px;
    margin:10px 0;
    padding:20px 26px;
    line-height:2em;
}

.aside .section {
    background-color: #3D7878;
    border-radius:5px;
    margin:10px 0;
    padding:20px 26px;
    line-height:2em;
} 

/* environment */

.st1{
    width: 100%;
    /* margin: 25px, auto; */
    padding: 5px;
    /* background-color:saddlebrown; */
}
.t1{
    width: 100px;
    font-size: 150%;
    font-weight:300%;
    /* font-family: 'cwTeXKai', serif; */
}

/* environment */

.logo-img {
    width:30%;
    
}

.aside {
    width:55%;
    float:right;
    
}
h3{
	color:#5B5B5B;
}

/* .aside.section {
    background-color:#20B2AA;
    border-radius:5px;
    margin:10px 0;
    padding:20px 26px;
    line-height:2em;
} */
/* footer {
    background-color:	#ACD6FF;
    border-radius:5px;
    text-align:center;
    line-height:2.5em;
    color:	#4F4F4F;
} */